table {
	border-collapse: collapse;
}

table, td, th {
	border: 1px solid black;
}

.text-font-l {
	text-align: left;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}

.text-font-c {
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}

.text-font-r {
	text-align: right;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}


.dropdown3{
	max-width: 200px;	
	
}

